/* styles.css */
.btn-green {
    background-color: #28a745;
    border-color: green;
    color: white;
  }
  
  .btn-green:hover {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
  }
  